<div class="weatherUndergrounds index">
	<h2><?php echo __('Weather Undergrounds'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('country_id'); ?></th>
			<th><?php echo $this->Paginator->sort('location'); ?></th>
			<th><?php echo $this->Paginator->sort('url'); ?></th>
			<th><?php echo $this->Paginator->sort('called'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($weatherUndergrounds as $weatherUnderground): ?>
	<tr>
		<td><?php echo h($weatherUnderground['WeatherUnderground']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($weatherUnderground['User']['username'], array('controller' => 'users', 'action' => 'view', $weatherUnderground['User']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($weatherUnderground['Country']['name'], array('controller' => 'countries', 'action' => 'view', $weatherUnderground['Country']['id'])); ?>
		</td>
		<td><?php echo h($weatherUnderground['WeatherUnderground']['location']); ?>&nbsp;</td>
		<td><?php echo h($weatherUnderground['WeatherUnderground']['url']); ?>&nbsp;</td>
		<td><?php echo h($weatherUnderground['WeatherUnderground']['called']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $weatherUnderground['WeatherUnderground']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $weatherUnderground['WeatherUnderground']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $weatherUnderground['WeatherUnderground']['id']), null, __('Are you sure you want to delete # %s?', $weatherUnderground['WeatherUnderground']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Weather Underground'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Countries'), array('controller' => 'countries', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Country'), array('controller' => 'countries', 'action' => 'add')); ?> </li>
	</ul>
</div>
