<style>
#widget-id-<?=$widget['WidgetInstance']['id']?> .block-content {
    background: <?=$widgetContent?>;
    background-size: contain;
    height: 100%;
}

.logo-block .grid-stack-item-content {
    padding: 0;
}
</style>
<div class="block-content"></div>
