<div class="forecasts index">
	<h2><?php echo __('Forecasts'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('weather_underground_id'); ?></th>
			<th><?php echo $this->Paginator->sort('forecast'); ?></th>
			<th><?php echo $this->Paginator->sort('url'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($forecasts as $forecast): ?>
	<tr>
		<td><?php echo h($forecast['Forecast']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($forecast['WeatherUnderground']['user_id'], array('controller' => 'weather_undergrounds', 'action' => 'view', $forecast['WeatherUnderground']['id'])); ?>
		</td>
		<td><?php echo h($forecast['Forecast']['forecast']); ?>&nbsp;</td>
		<td><?php echo h($forecast['Forecast']['url']); ?>&nbsp;</td>
		<td><?php echo h($forecast['Forecast']['modified']); ?>&nbsp;</td>
		<td><?php echo h($forecast['Forecast']['created']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $forecast['Forecast']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $forecast['Forecast']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $forecast['Forecast']['id']), null, __('Are you sure you want to delete # %s?', $forecast['Forecast']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Forecast'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Weather Undergrounds'), array('controller' => 'weather_undergrounds', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Weather Underground'), array('controller' => 'weather_undergrounds', 'action' => 'add')); ?> </li>
	</ul>
</div>
