@charset "utf-8";
/**
 *
 * Generic CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.webroot.css
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

* {
    margin:0;
    padding:0;
}

/** General Style Info **/
body {
    /*color: #F8F8F8;*/
    /* font-family:'lucida grande',verdana,helvetica,arial,sans-serif; */
    font-family: Arial,​Helvetica,​sans-serif;
    font-size:14px;
    margin: 0;
    background: #F2F2F2;
}
a {
    color: #0099CC;

}
a:hover {
    color: #367889;
    text-decoration:none;
}
a img {
    border:none;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom:0.5em;
}
h1 {
    /*background:#fff;
    color: #003d4c;
    font-size: 100%;*/
}
h2 {

}
h3 {

}
h4 {
    font-weight: normal;
}
ul, li {
    margin: 0 12px;
}
p {
    margin: 0 0 1em 0;
}
#main-container{
    background: #F2F2F2;
}
/** Layout **/
#container {
    text-align: left;
}

#header{
    padding: 10px 20px;
}
#header h1 {
    line-height:20px;
    background: #003d4c url('../img/cake.icon.png') no-repeat left;
    color: #fff;
    padding: 0px 30px;
}
#header h1 a {
    color: #fff;
    background: #003d4c;
    font-weight: normal;
    text-decoration: none;
}
#header h1 a:hover {
    color: #fff;
    background: #003d4c;
    text-decoration: underline;
}
#content{
    background: #f2f2f2;
    clear: both;
    color: #333;
    padding: 0px 20px 40px 20px;
    overflow: auto;
    margin-top:0px;
}
#footer {
    clear: both;
    padding: 6px 10px;
    text-align: right;
}

/** containers **/
div.form,
div.index,
div.view {
    float:right;
    width:78%;
/* 	border-left:1px solid #666;
     */	padding:10px 1%;
}
div.actions {
    float:left;
    width:14%;
    padding:10px 1%;
}
div.actions h3 {
    padding-top:0;
    color:#777;
}


/** Tables **/
table {
    border-right:0;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
th {
    border:0;
    border-bottom:2px solid #555;
    text-align: left;
    padding:4px;
}
th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}
th a.asc:after {
    content: ' ⇣';
}
th a.desc:after {
    content: ' ⇡';
}
table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
    background: #f9f9f9;
}
td.actions {
    text-align: center;
    white-space: nowrap;
}
table td.actions a {
    margin: 0px 6px;
    padding:2px 5px;
}

/* SQL log */
.cake-sql-log {
    background: #fff;
}
.cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
    font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
    color:#fff;
}

/** Paging **/
.paging {
    background:#fff;
    color: #ccc;
    margin-top: 1em;
    clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block
}
.paging > span {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: 0;
}
.paging > span:hover {
    background: #efefef;
}
.paging .prev {
    border-left: 1px solid #ccc;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.paging .next {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.paging .disabled {
    color: #ddd;
}
.paging .disabled:hover {
    background: transparent;
}
.paging .current {
    background: #efefef;
    color: #c73e14;
}

/** Scaffold View **/
dl {
    line-height: 2em;
    margin: 0em 0em;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
    background: #f4f4f4;
}

dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
    width: 10em;
}
dd {
    margin-left: 10em;
    margin-top: -2em;
    vertical-align: top;
}

/** Forms **/
form {

    clear: both;
    margin-right: 20px;
    padding: 0;
    width: 95%;
}
fieldset {
    border: none;
    margin-bottom: 1em;
    padding: 16px 10px;
}
.span10 fieldset legend{
    padding: 16px 0px 0px 0px;
}
.form .two-column form{margin:auto}
.two-column fieldset {
    margin:0px;
    padding-bottom:0px;
    padding-top:0px;
    }

fieldset legend {
    /*color: #e32;
    font-size: 160%;
    font-weight: bold;*/
}
fieldset fieldset {
    margin-top: 0;
    padding: 10px 0 0;
}
fieldset fieldset legend {
    font-size: 120%;
    font-weight: normal;
}
fieldset fieldset div {
    clear: left;
    margin: 0 20px;
}
form div {
    clear: both;

    vertical-align: text-top;
}
form .input {
}
form .required {
}
form .required label:after {
    color: #e32;
    content: '*';
    display:inline;
}
form label{color: #666666;
font-size: 13px;
}
form div.submit {
    border: 0;
    clear: both;
    margin-top: 10px;
}
label {
    display: block;
    font-size: 110%;
    margin-bottom:3px;
}
input, textarea {
    clear: both;
    font-size: 110%;
    font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
    width:98%;
}
select {
    /*clear: both;
    font-size: 120%;
    vertical-align: text-bottom;*/
}
select[multiple=multiple] {
    width: 100%;
}
option {
    font-size: 120%;
    padding: 0 3px;
}
input[type=checkbox] {
    clear: left;
    float: left;
    margin: 0px 6px 7px 2px;
    width: auto;
}
div.checkbox label {
    display: inline;
}
input[type=radio] {
    float:left;
    width:auto;
    margin: 6px 0;
    padding: 0;
    line-height: 26px;
}
.radio label {
    margin: 0 0 6px 20px;
    line-height: 26px;
}

/** Notices and Errors **/
.message {
    margin-top:20px;
}

/**  Actions  **/
.actions ul {
    margin: 0;
    padding: 0;
}
.actions li {
    margin:0 0 0.5em 0;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}
.actions ul li a {
    font-weight: normal;
    display: block;
    clear: both;
}

/* Buttons and button links */
/*input[type=submit],*/
.actions ul li a,
.actions a {
    font-weight:normal;
    padding: 4px 8px;
    background: #dcdcdc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: linear-gradient(top, #fefefe, #dcdcdc);
    color:#333;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: #fff 0px 1px 0px;
    min-width: 0;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-user-select: none;
    user-select: none;
}
.actions ul li a:hover,
.actions a:hover {
    background: #ededed;
    border-color: #acacac;
    text-decoration: none;
}
/*input[type=submit]:active,*/
.actions ul li a:active,
.actions a:active {
    background: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
    background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
    background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
    background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
    background-image: -o-linear-gradient(top, #dfdfdf, #eee);
    background-image: linear-gradient(top, #dfdfdf, #eee);
    text-shadow: #eee 0px 1px 0px;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    border-color: #aaa;
    text-decoration: none;
}

/** Related **/
.related {
    clear: both;
    display: block;
}

/** Debugging **/
pre {
    color: #000;
    background: #f0f0f0;
    padding: 15px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
    padding: 0;
    position: relative;
}
.cake-debug-output > span {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.3);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 6px;
    color: #000;
    display: block;
    float: left;
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
    font-size: 16px;
    line-height: 20px;
    clear: both;
}
.cake-error > a {
    text-shadow: none;
}
.cake-error {
    white-space: normal;
}
.cake-stack-trace {
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    margin: 10px 0 5px 0;
    padding: 10px 10px 0 10px;
    font-size: 120%;
    line-height: 140%;
    overflow: auto;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.cake-stack-trace a {
    text-shadow: none;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0px 4px 10px 2px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    text-decoration: none;
    -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
    position: relative;
    overflow: auto;
}
.cake-context {
    margin-bottom: 10px;
}
.cake-stack-trace pre {
    color: #000;
    background-color: #F0F0F0;
    margin: 0px 0 10px 0;
    padding: 1em;
    overflow: auto;
    text-shadow: none;
}
.cake-stack-trace li {
    padding: 10px 5px 0px;
    margin: 0 0 4px 0;
    font-family: monospace;
    border: 1px solid #bbb;
    -moz-border-radius: 4px;
    -wekbkit-border-radius: 4px;
    border-radius: 4px;
    background: #dcdcdc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: linear-gradient(top, #fefefe, #dcdcdc);
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
    clear: both;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 2px;
    padding: 4px;
    overflow: auto;
}
.cake-code-dump .code-highlight {
    display: block;
    background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
    padding-left:5px;
    display:block;
    margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
    background:#ecc;
}
.code-coverage-results div.covered span.content {
    background:#cec;
}
.code-coverage-results div.ignored span.content {
    color:#aaa;
}
.code-coverage-results span.line-num {
    color:#666;
    display:block;
    float:left;
    width:20px;
    text-align:right;
    margin-right:5px;
}
.code-coverage-results span.line-num strong {
    color:#666;
}
.code-coverage-results div.start {
    border:1px solid #aaa;
    border-width:1px 1px 0px 1px;
    margin-top:30px;
    padding-top:5px;
}
.code-coverage-results div.end {
    border:1px solid #aaa;
    border-width:0px 1px 1px 1px;
    margin-bottom:30px;
    padding-bottom:5px;
}
.code-coverage-results div.realstart {
    margin-top:0px;
}
.code-coverage-results p.note {
    color:#bbb;
    padding:5px;
    margin:5px 0 10px;
    font-size:10px;
}
.code-coverage-results span.result-bad {
    color: #a00;
}
.code-coverage-results span.result-ok {
    color: #fa0;
}
.code-coverage-results span.result-good {
    color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
    display:none;
}

dt, dd {
    line-height: 30px !important;
}

.icons{width: 42px; height: 42px; background: url('../img/icons.jpg') no-repeat; display: inline-block; border: 1px solid}

table .actions{width: 120px;}
.addMoreBlock{position: relative;}
.addMoreBlock .remove-box{/*position: absolute;top: 2px;right: 2px*/}
.addMoreBlock h4{margin-top: 15px;}
.single-form-box{ background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 15px;
    padding: 10px;
border-radius: 4px}


.form form label {
    display: inline-block;
    margin-bottom: 3px;
    width: 180px;
}
.mrgin-left,.charleft{margin-left: 180px;clear: left; margin-bottom: 15px; float: left;}
form div.error-message,.help-block .text-success{ margin-left:180px}
.checkbox { padding-left:190px}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    width:255px;
    display:inline-block;
}
.no-wrapper .form-actions{width: auto;background:transparent; text-align: left;padding-left: 0; margin: 0px}

.datetime select{width: auto}

.radio input[type="radio"], .checkbox input[type="checkbox"]{margin-top: 5px;}
.no-wrapper{padding-left: 10px;}
form fieldset{padding-bottom: 0px}
.center{ text-align: center;}
textarea{width: 411px;}
select, input[type="file"]{margin-bottom: 10px;}
input.input-small{ width: 60px !important; }
/*   front end only */
#header{  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-bottom: 2px solid #999999}
#UserLoginForm .submit{text-align: right; padding-right: 0px;}

.btn-link,.btn-link:hover,.btn-link:focus{
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #0099CC;
    padding:5px 10px;
    border: 0px;
    text-decoration: none;
}
.thumbnail.bg-link{
      padding: 1px;
      border: 4px solid #fff;

}
.clicked{
    border: 4px solid blue !important;

}

.thumbnail.bg-link.focus{border: 5px solid; padding: 0px;border-color:#0088CC}
.thumbnail.bg-link.selected{border: 4px solid; padding: 1px;border-color:#ff9900}
.focus{  }
.background .thumbnails{float: left; padding-left: 30px;}
.background .thumbnails .span3{ height: 185px;width: 250px; margin-left: 10px;}

