
.container{position: relative;}
 #dashboard div.view{}
.layout_chooser li img{height: 31px;}
.layout_chooser  .nav-pills > li > a{padding: 4px}
#gallery { float: left; width: 100%; min-height: 6em; margin-left: }
	.gallery.custom-state-active { background: #eee; }
	.gallery .ui-widget-content { float: left; width: 67px; height: 80px;max-height: 130px; padding: 0.2em; margin: 0 0.4em .4em; text-align: center; 
	}
#gallery .ui-widget-content,#trash .ui-widget-content{

box-shadow:0px 2px 10px 2px black;
}
$trash #logo h5{display: none;}
	.gallery .ui-widget-content h5 { 
	   background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    cursor: move;
    font-size: 10px;
    margin: 0 0 0.2em;
    padding-top: 5px;
     line-height: 120%;
     }
     #trash .navbar h5{font-size: 10px;line-height: 8px;}
	#gallery  h5 small{font-size:95% }
	.gallery .ui-widget-content a { float: right; border-radius: 4px}
	.gallery .ui-widget-content a.ui-icon-zoomin { float: left; }
	.gallery .ui-widget-content img { max-height: 50px;
    max-width: 65px; }
#trash .navbar .nav > li > a{ padding: 5px 10px;}
	#trash { float: left;  clear:both; min-height: 18em; padding: 5px;}
	#trash h4 { line-height: 16px; margin: 0 0 0.4em; }
	#trash h4 .ui-icon { float: left; }
	#trash #Logo h5 { display: none; }
	.droppable { min-width: 85px; min-height: 40px; padding: 0.2em; float: left; margin: 5px; background: #fff; }
#trash .navbar .nav.pull-right{margin-top: 10px;}
#trash .inner img{max-height: 35px;}
#trash .brand{ text-align: center;
padding: 5px;
margin-left: -10px;}
.navbar #Logo{border: 0px; padding-right: 20px;}
.navbar .droppable{border: 1px solid #ccc}

#trash .ui-widget-header{background: #fff; border: 0px; padding: 5px; margin:0 3px;}
.view div.navbar,.view  .navbar li{line-height:; }

#trash .navbar .droppable h6{ display: none;}
	.col3{
	float: left;
    margin: 0 5px;
    padding: 0;
    width: 278px;
	}
.col2{
    width: 420px;
}
.col1{
    width: 870px;
}
#trash .ui-widget-content{position: relative;}
	#box div.box-small{
	    height:158px;
	    margin-bottom: 15px;
	    border: 1px solid #ccc;
	    background: #fff;
	    
	}

	#box div.box-long{
	    height:344px;
	     border: 1px solid #ccc;
	     background: #fff;
	}
#box div.box-small,#box div.box-long{
	    width:260px;
	}	
#box .col2 div.box-small,#box .col2 div.box-long{
    width: 402px;
}
#box .col1 div.box-small,#box .col1 div.box-long{
    width: 850px;
}
#trash .ui-widget-content{
	 
	}	
#trash div.box-long .ui-widget-content{
	height: 341px;
	
}
#trash div.box-small .ui-widget-content{
	height: 155px;
}
	#ticker{padding: 5px 18px width:92%;}
.ui-icon-refresh{position: absolute;right: 0;top: 0px}
#gallery .ui-icon-trash{ display: none;}
/*.box-small .ui-draggable{ height: 230px}
.box-long .ui-draggable{ height: 503px}*/

#UserLayoutIndexForm{width: 100% !important;}
#UserLayoutIndexForm div{clear: none;}
#loader{clear: both;width: 100%;}
#loader small{display: none;}
#sidebar.overlay{position: absolute; background: #fff; margin-top: 36px;z-index: 3}
#sidebar.overlay.hide{display:none ;}
#sidebar.overlay.show{display:block ;}
.ui-draggable-dragging{z-index: 999}


.bool-slider {
    border: 1px solid #CCCCCC;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: Helvetica,Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: 800;
    height: 22px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 66px;
}
.bool-slider.true .inset {
    background-color: #51A351;
    background-image: none;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bool-slider.true .inset .control {
    float: left;
}
.bool-slider.true .inset .control:after {
    content: "On";
    line-height: 28px;
    position: relative;
    right: -135%;
    top: 0%;
}
.bool-slider.false .inset {
    background-color: #DA4F49;
    background-image: none;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bool-slider.false .inset .control {
    float: right;
}
.bool-slider.false .inset .control:before {
    content: "Off";
    left: -100%;
    line-height: 28px;
    position: relative;
    top: 0%;
}
.bool-slider .inset {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}
.bool-slider .inset .control {
    background-color: #F5F5F5;
    background-repeat: repeat-x;
    border-radius: 20px;
    height: 100%;
    width: 40%;
}
.bool-slider .inset .control:hover {
    cursor: pointer;
}
.bool-slider.disabled {
    color: #CCCCCC;
}
.bool-slider.disabled .inset {
    background-color: #F5F5F5;
    background-repeat: repeat-x;
}
.bool-slider.disabled .control {
    cursor: default;
}
#trash .nav .inner{
	   border: 1px solid #CCCCCC;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
}
h4{font-size: 20px;}
.bool-slider{margin: auto}
.w-select div.input{margin-left: 10px;}
.w-select select{z-index: 99999;cursor: pointer;}
.w-select select option{font-size: 11px}
.box-small small.w-select,#gallery .w-select,span.w-select small{display: none;}
span.w-select { display: block; padding-left: 10px;}

span.w-select input.label{font-weight: normal; min-width: 156px; display: block;}
.dd-options li{margin-left: 0px !important}
a.dd-selected{padding: 5px !important}
dd-option-image, .dd-selected-image{width:30px !important }
.dd-option-image, .dd-selected-image{width: 35px !important ;}
.w-select .label{margin-bottom: 3px;}

