.container{position: relative;}

#gallery { float: left; width: 100%; min-height: 12em; }
	.gallery.custom-state-active { background: #eee; }
	.gallery .ui-widget-content { float: left; width: 107px; height: 130px;max-height: 130px; padding: 0.4em; margin: 0 0.75em .4em; text-align: center; }
	.gallery .ui-widget-content h5 { margin: 0 0 0.4em; cursor: move; height: 70px; background: #fff; border: 0px; padding-top: 40px  }
	.gallery .ui-widget-content a { float: right; border-radius: 4px}
	.gallery .ui-widget-content a.ui-icon-zoomin { float: left; }
	.gallery .ui-widget-content img { width: 100%; cursor: move; }

	#trash { float: left; width: 96%; clear:both; min-height: 18em; padding: 1%; }
	#trash h4 { line-height: 16px; margin: 0 0 0.4em; }
	#trash h4 .ui-icon { float: left; }
	#trash .gallery h5 { display: none; }
	.droppable { min-width: 120px; min-height: 65px; padding: 0.5em; float: left; margin: 10px; background: #fff; }

#trash .inner img{max-height: 65px;}
.brand{ text-align: center;}
.navbar .droppable{border: 1px solid #ccc}

#trash .ui-widget-header{background: #fff; border: 0px; padding: 5px;}
.view div.navbar,.view  .navbar li{line-height: 65px; }
#trash .navbar .droppable h6, .navbar .inner small{ display: none;}
	.col3{float: left; width:374px; padding: 0px; padding-bottom: 0px;}
#trash .ui-widget-content{position: relative;}
	#box div.box-small{
	    width:340px;
	    height:232px;
	    margin-bottom: 15px;
	    border: 1px solid #ccc;
	    background: #fff;
	    
	}

	#box div.box-long{
	    width:340px;
	    height:506px;
	     border: 1px solid #ccc;
	     background: #fff;
	}
#trash div.box-long .ui-widget-content{
	height: 506px;
    width: 340px;
	
}
#trash div.box-small .ui-widget-content{
	height: 232px;
    width: 340px;
}
	#ticker{padding: 5px 18px}
.ui-icon-refresh{position: absolute;right: 0;top: 0px}
#gallery .ui-icon-trash{ display: none;}
/*.box-small .ui-draggable{ height: 230px}
.box-long .ui-draggable{ height: 503px}*/

#UserLayoutIndexForm{width: 100% !important;}
#UserLayoutIndexForm div{clear: none;}
#loader{clear: both;width: 100%;}
#loader small{display: none;}
#sidebar.overlay{position: absolute; background: #fff; margin-top: 36px;z-index: 3}
#sidebar.overlay.hide{display:none ;}
#sidebar.overlay.show{display:block ;}
.ui-draggable-dragging{z-index: 999}
