
#dashboard div.form, #dashboard div.index, #dashboard div.view{
    width:75%;
    background: #f8f8f8;
    margin-top: 10px;
}
#main-container{background: #F2F2F2;}
.background.form{padding: 10px 1%}
.background form{width: 98%;}
/*.form.well{padding-left: 0px; padding-right: 0px;}
.form.well form{clear: both;
margin-right: 0;
padding: 0;
width: 100%;
}*/


div.actions{padding-left: 2%}

#dashboard div.actions{width: 60%; float: right; padding-right: 2%}
div.actions ul{margin-left: 0px;}
td.actions{width: auto;}
div.actions ul li{width: auto;list-style:inline; float: left;}
div.actions ul li a{ display: inline-block; margin: 0px 5px 10px 0px;}
.controls{display: inline-block;}
.checklist{width:100% }
.checklist .checkbox{padding: 10px 20px 10px 20px;width: 110px; float: left;clear: none;}
.browse-box img{max-width: 250px; max-height: 110px}
div.input #loader{ height: 32px; margin-top: -10px; margin-left: 10px; display: none}
.navbar{margin-bottom: 0px;}
.padding-left{padding-left: 178px;}
.input-small{width: 90px;}

#opacity {
        width: 200px;
        margin: 0 10px 0 0px;
        display: inline-block;
    }
.left-nav a{
    font-size: 13px;
    float: left;clear: both;
line-height: 20px;
color:#666666;
}
.left-nav a:hover,.left-nav a.active{color: #006699 }
.left-nav a.active{ font-weight: bold;}
.shapes{ width: 120px; height:110px; margin-right: 20px; display: inline-block;border: 1px solid #000}
.shapes.active{border: 2px solid #000;}
.rounded{border-radius: 5px}
#ruler-div label,#ruler-div input{ width: auto; margin-right: 10px;}
#ruler-div{ }
#op-preview{ width: 50px; height: 50px;}
div.textarea{margin-bottom: 20px;}
#appendDiv{clear: both;margin-bottom: 20px; padding-bottom: 0px;}
.remove-box{float: right;}
#HasgtagHashTagsForm  label{width: auto;}
#timezone_selector{ float: right;}
#timezone_selector label{text-align: right;}
#timezone_selector select{ width: 300px;}
#timezone_selector select option{ font-size: 11px;}
