<div class="teamMembers view">
<h2><?php  echo __('Team Member'); ?></h2>
	<dl>
		<dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($teamMember['TeamMember']['id']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('User'); ?></dt>
		<dd>
			<?php echo $this->Html->link($teamMember['User']['email'], array('controller' => 'users', 'action' => 'view', $teamMember['User']['id'])); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Last Name'); ?></dt>
		<dd>
			<?php echo h($teamMember['TeamMember']['last_name']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('First Name'); ?></dt>
		<dd>
			<?php echo h($teamMember['TeamMember']['first_name']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Description'); ?></dt>
		<dd>
			<?php echo h($teamMember['TeamMember']['description']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Image'); ?></dt>
		<dd>
			<?php echo h($teamMember['TeamMember']['image']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Modified'); ?></dt>
		<dd>
			<?php echo h($teamMember['TeamMember']['modified']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($teamMember['TeamMember']['created']); ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit Team Member'), array('action' => 'edit', $teamMember['TeamMember']['id'])); ?> </li>
		<li><?php echo $this->Form->postLink(__('Delete Team Member'), array('action' => 'delete', $teamMember['TeamMember']['id']), null, __('Are you sure you want to delete # %s?', $teamMember['TeamMember']['id'])); ?> </li>
		<li><?php echo $this->Html->link(__('List Team Members'), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Team Member'), array('action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
