<div class="newsCategories form">
<?php echo $this->Form->create('NewsCategory'); ?>
	<fieldset>
		<legend><?php echo __('Admin Edit News Category'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('NewsCategory.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('NewsCategory.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List News Categories'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List News Feeds'), array('controller' => 'news_feeds', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New News Feed'), array('controller' => 'news_feeds', 'action' => 'add')); ?> </li>
	</ul>
</div>
