<?php if(isset($availibility))  { 
	if($availibility=='notavailable') {
	echo '<div class="error-message alert-error">This Username is already taken</div>';
	} else{
	echo '<span class="text-success">This Username is Available</span>';
	}
}
	?>