<div class="view">
	<?php echo $this->Form->create('User');?>
<fieldset>
	<legend>Forgot Password</legend>
		<?php 
		echo $this->Form->input('username',array('label'=>'Username Or Email','after'=>'<br><small>To reset your password, please provide your Username or Email Address above.</small>'));?>
		

</fieldset>

<div class="no-wrapper">
		<?php echo $this->Form->end('Submit'); ?>
</div>
</div>