<div class="users view">
<?php echo $this->Form->create('User',array('legend' => false)); ?>
	<fieldset>
		<legend><?php echo __('Select a TapSocial Digital Signage Plan'); ?></legend>
	<?php
		
		echo $this->Form->input('subscription_package_id',array('type'=>'radio','legend' => false));
	?>
	</fieldset>

<?php echo $this->Form->end(__('Select a Plan',array('class'=>'left'))); ?>
</div>

