<?php echo $this->Form->create('User', array('action' => 'login'));?>
<span class="span10">
<fieldset>
	<legend> <?php echo __('Thank you!!')?></legend>
<p>
Thank you for choosing TapSocial Digital Signage!</p>
<p>Set up is fast and simple.  Please login below and configure your lobby experience.</p>
<?php
echo $this->Form->input('username');
   echo $this->Form->input('password');

echo '<div class="no-wrapper">';
echo $this->Form->end('Login'); ?>
</div>
</fieldset></span>