@CHARSET "UTF-8";
/**
 * CSS for the display grid
 */

html,body { height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-family: 'Open Sans', sans-serif;}

#ajaxContainer           { display: none;}
#display                 { height:  100%; padding: 10px 0; }
.grid-stack-item         { overflow: hidden !important; }
.grid-stack-item-content {
    height: 100%;
    overflow: hidden !important;
    padding: 10px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

/**
 * Do not allow the last line to show, if it's broken.
 *
 * Split the content in columns and show only the first one, hiding the rest with overflow: hidden
 */
.grid-stack-item[data-gs-width='1'] .grid-stack-item-content .block-content.no-broken-lines{
    -webkit-column-width: 25vw;
    -moz-column-width:    25vw;
    column-width:         25vw;
    height:               100%;
}
.grid-stack-item[data-gs-width='2'] .grid-stack-item-content .block-content.no-broken-lines {
    -webkit-column-width: 50vw;
    -moz-column-width:    50vw;
    column-width:         50vw;
    height:               100%;
}
.grid-stack-item[data-gs-width='3'] .grid-stack-item-content .block-content.no-broken-lines {
    -webkit-column-width: 75vw;
    -moz-column-width:    50vw;
    column-width:         75vw;
    height:               100%;
}
.grid-stack-item[data-gs-width='4'] .grid-stack-item-content .block-content.no-broken-lines {
    -webkit-column-width: 100vw;
    -moz-column-width:    50vw;
    column-width:         100vw;
    height:               100%;
}

.block-title {border-bottom: 1px solid; }
.vcenter { position: relative; top: 50%; transform: translateY(-50%); }

video#backgroundVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}


/**
 * responsive font sizes
 * body = p = h4 - bold
 */
body {font-size: 1.6651851852vh;} /* <p> inherits from this rule */

h1  {font-size: 5.9259259259vh; margin: 0; margin-top: 0.6vh; margin-bottom: 0.4vh; font-weight: bold; text-transform: uppercase;}
h2  {font-size: 4.4444444444vh; margin: 0; margin-top: 0.6vh; margin-bottom: 0.4vh; font-weight: bold; text-transform: uppercase;}
h3  {font-size: 2.2222222222vh; margin: 0; margin-top: 0.6vh; margin-bottom: 0.4vh; font-weight: bold; text-transform: uppercase;}
h4  {font-size: 1.6651851852vh; margin: 0; margin-top: 0.6vh; margin-bottom: 0.4vh; font-weight: bold; text-transform: uppercase;}
h5  {font-size: 1.2977777778vh; margin: 0; margin-top: 0.6vh; margin-bottom: 0.4vh; font-weight: bold; text-transform: uppercase;}


.backgroundFull {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundInside {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/**
 * bxslider fixes
 */
.bxSliderFull,
.bxSliderFull .bx-wrapper,
.bxSliderFull .bx-viewport,
.bxSliderFull .bxslider,
.bxSliderFull .bxslider > * {height: 100%;}

.bx-wrapper {background: unset; border: unset; box-shadow: unset;}